<nav class="green accent-3">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">Story books</a>
            <a href="" class="btn-collapse show-on-large sidenav-trigger"  data-target="slide-out"><i class="fas fa-bars"></i></a>
            <!-- right nav -->
            <ul class="right hide-on-small-only">
                {{#if user}}
                    <li><a href="/dashboard">Welcome, {{user.firstName}}</a></li>
                    <li><a href="/auth/logout"><i class="fas fa-sign-out-alt left"></i>Logout</a></li>
                {{else}}
                    <li><a href="/stories">Public stories <i class="fas fa-book right"></i></a></li>
                {{/if}}
            </ul>
            <!-- side menu -->
            <ul id="slide-out" class="sidenav">

                    {{#if user}}

                    {{else}}
                        <li>
                            <a href="/auth/google" class="btn red darken-1">Login with Google <i class="fab fa-google-plus-g left"></i></a>
                        </li>
                    {{/if}}
                    <li><a href="/stories"><i class="fas fa-book"></i>Public Stories</a></li>
                    {{#if user}}
                    <li class="divider"></li>
                    <li><a href="/dashboard"><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
                    <li><a href="/stories/my"><i class="fas fa-user"></i>My Stories</a></li>
                    <li><a href="/auth/logout"><i class="fas fa-sign-out-alt"></i>Logout </a></li>
                    {{/if}}

            </ul>
        </div>
    </div>
</nav>