body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .nav-wrapper .fa-bars {
    font-size: 25px;
  }

  footer {
    margin-top: 20px;
  }

  h1 {
    font-size: 30px !important;
  }