<h1>Welcome</h1>
<p>Welcome to storybooks 1.0.0</p>
<p>Post stories from the best</p>

{{#if user}}

{{else}}
    <a href="/auth/google" class="btn btn-large red darken-1">Login with Google <i class="fab fa-google-plus-g left"></i></a>
{{/if}}
