
<div class="row">
    <div class="col s8 push-s2">
        <h1>Add story</h1>
        <form action="/stories" method="post" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" name="title">
                <label for="title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <select name="status" id="">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="public">Public</option>
                    <option value="private">Private</option>
                    <option value="unpublished">Unpublished</option>
                </select>
                <label for="status">Status</label>
            </div>
        </div>
        <div class="row">
            <p>
            <label>
                <input name="allowComments" type="checkbox" class="filled-in" checked="checked" />
                <span>Filled in</span>
            </label>
            </p>
        </div>
        
        <div class="row">
            <div class="input-field">
                <h5>Tell us your story</h5>
                <textarea name="body" id="" cols="30" rows="10"></textarea>
            </div>
        </div>
        <input type="submit" value="Save" class="btn">
    </form>
    </div>
</div> 